body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hotpink;
  color: navy;
  height: 100vh;
}

h1 {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 4em;
}